body{
    background-image: url(https://kalix.club/uploads/posts/2022-12/1671666289_kalix-club-p-fon-avtomobilnii-vkontakte-14.jpg);
    background-attachment: fixed;
}
.upvote {
    background-image: url(https://i.imgflip.com/4l0qj5.png)
}

.downvote {
    background-image: url(https://i.imgflip.com/4l0qmy.png)
}

.votes {
    width: 30px;
    height: 30px;
    background-size: 100%;
    border-radius: 20px;
    border: none;
}

.voteDiv {
    flex-direction: column;
    display: flex;
    text-align: center;
}

#alert{
    width: 20%;
    float: left;
    text-align: center;
    margin-left: 28px;
    margin-top: 10px;
}
.row{
    float: left;
    width:100%;
}
